<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% if title %}
        <title>Hospital System - {{ title }}</title>
    {% else %}
        <title>Hospital System</title>
    {% endif %}

    {% block headScript %}
    {% endblock headScript %}

    <style>
        .hoverEffect {transition: all .2s ease-in-out;}
        .hoverEffect:hover {transform: scale(1.07);}

        .hoverEffectLinks {transition: all .2s ease-in-out;}
        .hoverEffectLinks:hover {transform: scale(1.1);}
        
        /* .mynormal {color: white; background-color: gray; border-style: solid; margin-top: 5px;} */
        .myNormalLink {color: white;}
        /* .myNormalLink:active {background: yellow;} */
        .myActiveLink {color: black;}

        hr {
            border: 1px solid red;
            margin: 0;
            padding: 0;
        }
        p, h2, h1 {
            font-family: Helvetica, sans-serif;
        }
    </style>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    {% block jumbotronUp %}
                    {% endblock jumbotronUp %}
                </div>
                <div class="col-md">
                    <nav class="nav flex-column">
                        {% if linkHome == 'active' %}
                            <a class="nav-link hoverEffectLinks px-4 myActiveLink" href="{{ url_for('commonFunctions.home') }}">Home</a>
                        {% else %}
                            <a class="nav-link hoverEffectLinks px-4 myNormalLink" href="{{ url_for('commonFunctions.home') }}">Home</a>
                        {% endif %}
                        <hr>

                        {% if current_user.is_authenticated and current_user.userType=='patient' %}
                            {% if linkAllDocuments == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('patient.allDocuments') }}">Documents</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('patient.allDocuments') }}">Documents</a>
                            {% endif %}
                            <hr>

                            {% if linkAllPrescriptions == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('patient.allPrescriptions') }}">Prescriptions</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('patient.allPrescriptions') }}">Prescriptions</a>
                            {% endif %}
                            <hr>

                            {% if linkDoctors == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('patient.doctorsPage') }}">Doctors</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('patient.doctorsPage') }}">Doctors</a>
                            {% endif %}
                            <hr>

                            {% if linkUserInfo == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('patient.userPatientInfo') }}">Your Information</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('patient.userPatientInfo') }}">Your Information</a>
                            {% endif %}
                            <hr>

                            <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                               href="{{ url_for('commonFunctions.logout') }}">Log out</a>
                            <hr>

                        {% elif current_user.is_authenticated and current_user.userType=='hospitalStaff' %}

                            {% if linkRegisterPatient == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('hospitalStaff.registerPatient') }}">Patient Registration</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('hospitalStaff.registerPatient') }}">Patient Registration</a>
                            {% endif %}
                            <hr>

                            {% if linkUploadPatientDocument == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('hospitalStaff.uploadPatientDocument') }}">Upload Report</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('hospitalStaff.uploadPatientDocument') }}">Upload Report</a>
                            {% endif %}
                            <hr>

                            {% if linkPatientToDoctor == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('hospitalStaff.linkPatientToDoctor') }}">Make Link</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('hospitalStaff.linkPatientToDoctor') }}">Make Link</a>
                            {% endif %}
                            <hr>

                            {% if removeLinkPatientToDoctor == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('hospitalStaff.removeLinkPatientToDoctor') }}">Remove Link</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('hospitalStaff.removeLinkPatientToDoctor') }}">Remove Link</a>
                            {% endif %}
                            <hr>

                            {% if linkUserInfo == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('hospitalStaff.userHospitalStaffInfo') }}">Your Info</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('hospitalStaff.userHospitalStaffInfo') }}">Your Info</a>
                            {% endif %}
                            <hr>
                            <a class="nav-link hoverEffectLinks px-4 myNormalLink" href="{{ url_for('commonFunctions.logout') }}">Log out</a>
                            <hr>

                        {% elif current_user.is_authenticated and current_user.userType=='doctor' %}
                            {% if linkMainPage == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('doctor.mainPage') }}">Patients</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('doctor.mainPage') }}">Patients</a>
                            {% endif %}
                            <hr>

                            {% if linkUserInfo == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('doctor.userDoctorInfo') }}">Your Information</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('doctor.userDoctorInfo') }}">Your Information</a>
                            {% endif %}
                            <hr>

                            <a class="nav-link hoverEffectLinks px-4 myNormalLink" href="{{ url_for('commonFunctions.logout') }}">Log out</a>
                            <hr>

                        {% elif current_user.is_authenticated and current_user.userType=='admin' %}
                            {% if linkRegister == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('admin.register') }}">Register User</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('admin.register') }}">Register User</a>
                            {% endif %}
                            <hr>

                            {% if linkUsers == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('admin.users') }}">Users</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('admin.users') }}">Users</a>
                            {% endif %}
                            <hr>

                            {% if linkChangeValidSpace == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('admin.changeValidSpace') }}">Usable Space</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('admin.changeValidSpace') }}">Usable Space</a>
                            {% endif %}
                            <hr>

                            {% if linkUserInfo == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink"
                                   href="{{ url_for('admin.userAdminInfo') }}">Your Info</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                                   href="{{ url_for('admin.userAdminInfo') }}">Your Info</a>
                            {% endif %}
                            <hr>

                            <a class="nav-link hoverEffectLinks px-4 myNormalLink"
                               href="{{ url_for('commonFunctions.logout') }}">Log out</a>
                            <hr>

                        {% else %}
                            {% if linkLogin == 'active' %}
                                <a class="nav-link hoverEffectLinks px-4 myActiveLink" href="{{ url_for('commonFunctions.login') }}">Login</a>
                            {% else %}
                                <a class="nav-link hoverEffectLinks px-4 myNormalLink" href="{{ url_for('commonFunctions.login') }}">Login</a>
                            {% endif %}
                            <hr>
                        {% endif %}

                        {% if linkaboutUs == 'active' %}
                            <a class="nav-link hoverEffectLinks px-4 myActiveLink" href="#">About Us</a>
                        {% else %}
                            <a class="nav-link hoverEffectLinks px-4 myNormalLink" href="#">About Us</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>

    

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock content %}

        <div style="width: fit-content; height: 300px;">
            <!-- To make a gap vertically. -->
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-info text-white text-center fint-weight-light">
        <div class="container">
            <p class="lead">...... Hospital<br>
                Address: ........................<br>
                Contact: .........................
            </p>
            <hr>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>