{% extends "layout.html" %}

{% block jumbotronUp %}
    <h1>
        Are You Sure...???
    </h1>
{% endblock jumbotronUp%}

{% block content %}

    {% if cameFrom == 'search' %}
        <div class="d-flex justify-content-center" style="margin-bottom: 60px;">
            <h1>Are You sure you want to delete?</h1>
        </div>
        <div class="d-flex justify-content-around" style="margin-bottom: 20px;">
            <a href="{{ url_for('admin.deleteUser',
                userType=userType,
                storedName=storedName,
                ) }}"
               class="btn btn-outline-danger">Yes, I am Sure.</a>
            <a onclick="history.back(-1)"
               style="color: #00525c;"
               class="btn btn-outline-info">No, I have Changed my mind.</a>
        </div>
    {% elif cameFrom == 'userList' %}
        <div class="d-flex justify-content-center" style="margin-bottom: 60px;">
            <h1>Are You sure you want to delete?</h1>
        </div>
        <div class="d-flex justify-content-around" style="margin-bottom: 20px;">
            <a href="{{ url_for('admin.deleteUser',
                userType=userType,
                storedName=storedName,
                fromPage=fromPage,
                itemNumber=itemNumber,
                ) }}"
               class="btn btn-outline-danger">Yes, I am Sure.</a>
            <a onclick="history.back(-1)"
               style="color: #00525c;"
               class="btn btn-outline-info">No, I have Changed my mind.</a>
        </div>
    {% elif cameFrom == 'account' %}
        <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
            <h1>Are You sure you want to delete Your Account?</h1>
        </div>

        <div class="d-flex justify-content-center" style="margin-bottom: 60px;">
            <p class="lead">Your files and all other information will be removed.</p>
        </div>

        <div class="d-flex justify-content-around" style="margin-bottom: 20px;">
            <a href="{{ url_for('admin.deleteAccount') }}"
               class="btn btn-outline-danger">Yes, I am Sure.</a>
            <a onclick="history.back(-1)"
               style="color: #00525c;"
               class="btn btn-outline-info">No, I have Changed my mind.</a>
        </div>
    {% else %}
        <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
            <h1 class="display-4">Not quite sure what you want to delete.</h1>
        </div>
        <div>
            <a onclick="history.back(-1)"
               style="color: #00525c;"
               class="btn btn-outline-info">Go back</a>
        </div>
    {% endif %}
    <hr>

{% endblock content %}