{% extends "layout.html" %}

{% block jumbotronUp %}
    <h1>
        Upload Report
    </h1>
{% endblock jumbotronUp%}

{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Upload Report</legend>
            <div class="form-group">
                {{ form.patientUsername.label(class="form-control-label") }}
                {% if form.patientUsername.errors %}
                    {{ form.patientUsername(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.patientUsername.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.patientUsername(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                <small class="text-info">
                        &nbsp;
                        (Keep It Short)
                </small>
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.referenceDoctorUsername.label(class="form-control-label") }}
                {% if form.referenceDoctorUsername.errors %}
                    {{ form.referenceDoctorUsername(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.referenceDoctorUsername.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.referenceDoctorUsername(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.file.label(class="form-control-label") }}
                <small class="text-info">
                        &nbsp;
                        (Max Size 50 Mb)
                </small>
                {% if form.file.errors %}
                    {{ form.file(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.file.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.file(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

    </form>
    <hr>
{% endblock content %}